{% for host in groups.all %}
{% if 'ansible_ssh_host_key_dsa_public' in hostvars[host] %}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-dsa {{ hostvars[host].ansible_ssh_host_key_dsa_public }}
{% endif %}
{% if 'ansible_ssh_host_key_rsa_public' in hostvars[host] %}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-rsa {{ hostvars[host].ansible_ssh_host_key_rsa_public }}
{% endif %}
{% endfor %}
