# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#

# This file defines iptable netfilter rules, 
# to be loaded with `iptables-restore < $this_file`

*filter

## create queues and set default policy
:INPUT {{default_input_policy}} [0:0]
:OUTPUT ACCEPT [0:0]
:FORWARD {{default_forward_policy}} [0:0]


## OUTPUT queue -- outbound traffic

# allow all outbound traffic by default policy, no rules to add


## FORWARD queue -- only relevant if this host is a gateway

# only apply default policy, no rules to add


## INPUT queue -- inbound traffic
# accept all inbound packets related to existing connections
# (this rule comes first as it's likely the one that is hit most times)
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# allow all loopback (lo0) traffic
-A INPUT -i lo -j ACCEPT

# Allow all incoming connections from ``trusted_hosts``
{% for host in trusted_hosts|default(groups.all)  %}
{%   if 'address' in hostvars[host].ansible_default_ipv4 %}
-A INPUT -s {{ hostvars[host].ansible_default_ipv4.address }} -j ACCEPT
{%   endif %}
{% endfor %}

# Allow all incoming ssh connections
-A INPUT -p tcp --dport 22 -j ACCEPT

{% if default_input_policy != 'ACCEPT' %}
# reject all other inbound traffic, but limit the number of rejections
# to avoid becoming a DDoS amplifier
-A INPUT -m limit --limit 6/min -j REJECT --reject-with icmp-admin-prohibited
{% endif %}

## all done, enable rules!
COMMIT
