[bumpversion]
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<stage>[a-z]*)(?P<patch>\d+)
serialize = 
	{major}.{minor}.{stage}{patch}
	{major}.{minor}.{patch}
current_version = 1.3.dev15

[bumpversion:part:stage]
optional_value = release
values = 
	dev
	rc
	release

[bumpversion:file:setup.py]

[bumpversion:file:version.txt]

[bumpversion:file:elasticluster/__init__.py]

[bumpversion:file:docs/conf.py]

