hostname {{ item }}
load_scaling NONE
complex_values slots={{ hostvars[item].ansible_processor_count|default(2) }}
user_lists NONE
xuser_lists NONE
projects NONE
xprojects NONE
usage_scaling NONE
report_variables NONE
