#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

# Site specific configuration properties for Alluxio
# Details about all configuration properties http://www.alluxio.org/documentation/en/Configuration-Settings.html

# Security properties
# alluxio.security.authorization.permission.enabled=true
# alluxio.security.authentication.type=SIMPLE

# Worker properties
alluxio.worker.memory.size={{spark_alluxio_memory}}MB
alluxio.worker.tieredstore.levels=1
alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/mnt/ramdisk

# User properties
alluxio.user.file.readtype.default=CACHE_PROMOTE
alluxio.user.file.writetype.default=MUST_CACHE

# use installed Alluxio
alluxio.integration.mesos.alluxio.jar.url=LOCAL
alluxio.home=/usr/lib/alluxio

# use the local JVM/JDK
alluxio.integration.mesos.jdk.url=LOCAL

# disable security
alluxio.security.authorization.permission.enabled=false

# connection configuration
alluxio.underfs.address={{spark_alluxio_storage_protocol}}://{{spark_alluxio_storage_root}}
fs.swift.user={{spark_alluxio_storage_user}}
fs.swift.tenant={{spark_alluxio_storage_tenant}}
fs.swift.password={{spark_alluxio_storage_password}}
fs.swift.auth.url={{spark_alluxio_storage_auth_url}}
fs.swift.use.public.url={{spark_alluxio_storage_use_public_url}}
fs.swift.auth.method={{spark_alluxio_storage_auth_method}}
fs.swift.region={{spark_alluxio_storage_region}}

