# Default system properties included when running spark-submit or interactive.

spark.driver.memory              {{spark_driver_memory}}m
spark.driver.maxResultSize       {{(spark_driver_memory|int * 0.6)|int}}m

spark.executor.memory            {{spark_executor_memory}}m

spark.python.worker.memory       {{spark_python_worker_memory}}m

# our alluxio jars
spark.driver.extraClassPath      /usr/lib/alluxio/core/client/runtime/target/alluxio-core-client-runtime-{{spark_alluxio_version}}-jar-with-dependencies.jar
spark.executor.extraClassPath    /usr/lib/alluxio/core/client/runtime/target/alluxio-core-client-runtime-{{spark_alluxio_version}}-jar-with-dependencies.jar

# Maximum amount of time to wait for resources to register before scheduling begins
spark.scheduler.maxRegisteredResourcesWaitingTime 5s

spark.eventLog.enabled           true
spark.eventLog.dir               {{spark_history_path}}
spark.history.fs.logDirectory    {{spark_history_path}}

# Increase the maximum rpc message size from 128 to 512
spark.rpc.message.maxSize        512