---
# Install the following deps:
# 1) apt-transport-https to enable
#   TLS in the transport of packages coming
#   from APT repositories
# 2) ca-certificates, a bundle of common certificate authorities' certificates
- name: 'install docker dependencies'
  apt:
  name: ['apt-transport-https', 'ca-certificates']
  state: 'present'


# We must inform apt about the docker public key
- name: 'add docker key'
  apt_key:
    url: 'https://download.docker.com/linux/ubuntu/gpg'
    id: '9DC858229FC7DD38854AE2D88D81803C0EBFCD88'
    state: 'present'
  register: 'add_repository_key'
  ignore_errors: true


# Add the official docker apt repository
- name: 'add Docker repository'
  apt_repository:
    repo: '{{ docker_apt_repository }}'
    state: 'present'
    update_cache: 'yes'


# Install the latest docker CE
- name: 'install docker Community Edition'
  apt:
    name: 'docker-ce'
    state: 'present'


# Enable docker as service by default
- name: 'enable docker systemd service'
  service:
    name: 'docker'
    state: 'started'
    enabled: 'yes'


# Configure the docker daemon via the configuration
# file /etc/docker/daemon.json
- name: 'prepare default daemon configuration'
  copy:
    src: 'daemon.json'
    dest: '/etc/docker/daemon.json'

# Prune dangling containers by setting a cron job to clean thing ups
- name: 'set periodic docker system prune'
  cron:
    name: 'docker-prune'
    minute: '0'
    hour: '*/2'
    job: 'docker container prune -f'


# Add unprivileged users to the `docker` group
- name: 'add users to docker group'
  user:
    name: '{{ item }}'
    groups: 'docker'
    append: 'yes'
  with_items: '{{ docker_group_members }}'
  when: 'docker_group_members is defined'

