# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# any local modifications will be overwritten!
#
# Calico Specific NTP configuration
#
#
driftfile /var/lib/ntp/drift
restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1 
restrict ::1
server 10.11.10.10 iburst
server 10.11.10.11 iburst
includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys
disable monitor
