---

- name: ElasticSearch Master Nodes
  hosts: elasticsearch_master
  roles:
    - role: elasticsearch
      es_version: '5.6.4'
      es_instance_name: "elasticluster"
      es_config:
        cluster.name: "elasticluster"
        network.host: "{{ inventory_hostname }}"
        discovery.zen.ping.unicast.hosts: "{{ groups.elasticsearch_master[0] }}:9300"
        http.port: 9200
        transport.tcp.port: 9300
        node.data: false
        node.master: true
        bootstrap.memory_lock: false
      es_scripts: false
      es_templates: false
      es_version_lock: false


- name: ElasticSearch Data Nodes
  hosts: elasticsearch_data
  roles:
    - role: elasticsearch
      es_version: '5.6.4'
      es_instance_name: "elasticluster"
      es_api_host: "{{ groups.elasticsearch_master[0] }}"
      es_api_port: 9200
      es_config:
        cluster.name: "elasticluster"
        network.host: "{{ inventory_hostname }}"
        discovery.zen.ping.unicast.hosts: "{{ groups.elasticsearch_master[0] }}:9300"
        http.port: 9200
        transport.tcp.port: 9300
        node.data: true
        node.master: false
        bootstrap.memory_lock: false
      es_scripts: false
      es_templates: false
      es_version_lock: false
