# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#

# see: https://www.r-bloggers.com/permanently-setting-the-cran-repository/
local({
  r <- getOption("repos")
  r["CRAN"] <- "{{r_cran_mirror_url}}"
  options(repos = r)
})

# install our needed packages
install.packages("devtools")
install.packages("dplyr")

devtools::install_github("sparklyr")

library(sparklyr)
sc <- spark_connect(master = "yarn-client")

message("\n*** Initialized, spark context available as sc ***\n")