---
- name: Common setup for all hosts
  hosts: all
  gather_facts: yes
  roles:
    - common
    - pdsh

# Run all other playbooks one by one, so they get a chance of doing
# their setup depending on configured host groups
- include: roles/ansible.yml
- include: roles/slurm.yml
- include: roles/jupyterhub.yml
- include: roles/jenkins.yml
- include: roles/ganglia.yml
- include: roles/pbs+maui.yml
- include: roles/gridengine.yml
- include: roles/hadoop.yml
- include: roles/pvfs2.yml
- include: roles/ceph.yml
- include: roles/glusterfs.yml
- include: roles/ipython.yml
- include: roles/htcondor.yml

# for local customizations
- include: after.yml
