# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#


[config]

# module files configuration
modules-tool = Lmod
module-syntax = Lua

# misc paths
buildpath = /tmp
installpath = {{EASYBUILD_PREFIX}}
repositorypath = {{EASYBUILD_PREFIX}}/ebfiles
sourcepath = {{EASYBUILD_PREFIX}}/sources

# enable dependency resolution; search for `.eb` files here
robot = %(repositorypath)s
robot-paths = %(DEFAULT_ROBOT_PATHS)s

# consider these dependencies already satisfied by the operating system
# (this should include only very stable and CPU-independent SW)
#
# ========= ========== ============ ============ ============= =============
# SW name   EB version Ubuntu 14.04 Ubuntu 16.04 RHEL7 version RHEL6 version
# ========= ========== ============ ============ ============= =============
# Autoconf  2.69       2.69         2.69
# Automake  1.15       1.14         1.15
# Bison     3.0.4      3.0.2        3.0.4
# Java      1.8.0      7u121        8u111
# SQLite    3.8.10.2   3.8.2        3.11.0
# Szip      2.1
# Tcl       8.6.4      8.6.6        8.6.6
# Tk        8.6.4      8.6.1        8.6.5
# flex      2.5.39     2.5.35       2.6.0
# libtool   2.4.2      2.4.2        2.4.6
# xextproto 7.3.0
# xproto    7.0.28
# zlib      1.2.8      1.2.8        1.2.8
#
filter-deps=bzip2,fontconfig,gzip,libreadline,libX11,libXext,libXft,libXinerama,libXt,M4,ncurses

# build these, but hide module files to avoid cluttering `module avail`
# with seldom-used software
hide-deps=libjpeg-turbo,libpng,SQLite,xextproto,xproto


[override]

# use the minimal toolchain that works
# (including the "dummy" system compiler)
minimal-toolchains = yes
add-dummy-to-minimal-toolchains = yes

# allow all users in the `easybuild` group to deploy SW
group-writable-installdir = yes
group = easybuild
set-gid-bit = yes
umask = 002

# force "generic" optimizations that will work on any CPU type
# unless users configured otherwise in ElastiCluster
optarch={{ EASYBUILD_OPTARCH|default('GENERIC') }}
