[Unit]
Description=Apache Alluxio Master Service
After=network.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
ExecStart=/usr/lib/alluxio/bin/alluxio-start.sh master
ExecStop=/usr/lib/alluxio/bin/alluxio-stop.sh master
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target