{
 "language": "python",
 "display_name": "Python {{anaconda_python_version}} with Spark",
    "argv": [
        "/usr/bin/env",
        "MASTER=spark://{{groups.spark_master|first}}:7077",
        "PYSPARK_DRIVER_PYTHON={{spark_jupyter_python}}",
        "PYSPARK_PYTHON={{spark_jupyter_python}}",
        "PYTHONSTARTUP=/usr/local/share/jupyter/kernels/pyspark{{anaconda_python_version}}/startup.py",
        "{{spark_jupyter_python}}",
        "-m",
        "ipykernel",
        "-f",
        "{connection_file}"
    ]
}
