[Unit]
Description=Apache Spark Master Service
After=alluxio.target

[Service]
Type=forking
User=ubuntu
Group=spark
ExecStart=/usr/lib/spark/sbin/start-master.sh
ExecStop=/usr/lib/spark/sbin/stop-master.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target