[Unit]
Description=Apache Zeppelin
After=spark-master.target

[Service]
Type=forking
User=ubuntu
Group=spark
ExecStart=/usr/lib/zeppelin/bin/zeppelin-daemon.sh start
ExecStop=/usr/lib/zeppelin/bin/zeppelin-daemon.sh stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target