#!/bin/bash

#### Base configuration ####
export JAVA_HOME=${JAVA_HOME:-"/usr/lib/jvm/default-java"}
export MASTER=${MASTER:-"spark://{{(groups.spark_master|first)}}:7077"}
export ZEPPELIN_JAVA_OPTS="-Dspark.executor.memory=8g -Dspark.cores.max=16"
export ZEPPELIN_MEM="-Xms2048m -Xmx2048m -XX:MaxPermSize=1024m"
export ZEPPELIN_LOG_DIR=${ZEPPELIN_LOG_DIR:-"/var/log/zeppelin"}

#### Spark interpreter configuration ####
export SPARK_HOME=${SPARK_HOME:-"/usr/lib/spark"}
export SPARK_SUBMIT_OPTIONS="--driver-memory 6G --executor-memory 6G"
export SPARK_APP_NAME=zeppelin
export PYSPARK_PYTHON=${PYSPARK_PYTHON:-"/opt/anaconda{{anaconda_python_version}}/bin/python"}
export PYTHONPATH=${PYTHONPATH:-"${SPARK_HOME}/python:${SPARK_HOME}/python/build:$PYTHONPATH"}
export ZEPPELIN_SPARK_USEHIVECONTEXT=false
export SPARK_SUBMIT_OPTIONS="--jars /usr/lib/alluxio/core/client/runtime/target/alluxio-core-client-runtime-{{spark_alluxio_version}}-jar-with-dependencies.jar"

#### ZeppelinHub connection configuration ####
# export ZEPPELINHUB_API_ADDRESS		# Refers to the address of the ZeppelinHub service in use
# export ZEPPELINHUB_API_TOKEN			# Refers to the Zeppelin instance token of the user
# export ZEPPELINHUB_USER_KEY			# Optional, when using Zeppelin with authentication.

#### Zeppelin impersonation configuration
# export ZEPPELIN_IMPERSONATE_CMD       # Optional, when user want to run interpreter as end web user. eg) 'sudo -H -u ${ZEPPELIN_IMPERSONATE_USER} bash -c '
# export ZEPPELIN_IMPERSONATE_SPARK_PROXY_USER  #Optional, by default is true; can be set to false if you don't want to use --proxy-user option with Spark interpreter when impersonation enabled