[Unit]
Description=Apache Spark History Service
After=network.target

[Service]
Type=forking
User=spark
Group=spark
ExecStart=/usr/lib/spark/sbin/start-history-server.sh
ExecStop=/usr/lib/spark/sbin/stop-history-server.sh

[Install]
WantedBy=multi-user.target