[Unit]
Description=Apache Spark Thrift Service
After=network.target

[Service]
Type=forking
User=spark
Group=spark
ExecStart=/usr/lib/spark/sbin/start-thriftserver.sh
ExecStop=/usr/lib/spark/sbin/stop-thriftserver.sh

[Install]
WantedBy=multi-user.target