# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#

# Note: the `Lmod` package in Ubuntu 16.04 ships with a `profile`
# script that assumes that a users' shell is always `bash` and will give
# incorrect results on other shells...
. {{ lmod_root }}/lmod/lmod/init/profile
