# see file debian/condor.template in the sources of the `condor` plg

Name: adduser/homedir-permission
Template: adduser/homedir-permission
Value: true
Owners: adduser

Name: adduser/title
Template: adduser/title
Owners: adduser

Name: anthy/dictionaries
Template: anthy/dictionaries
Value: base.t, extra.t
Owners: anthy
Variables:
 dictionaries = 2ch.t, base.t, extra.t

Name: condor/wantdebconf
Template: condor/wantdebconf
Value: true

Name: condor/phonehome
Template: condir/phonehome
Value: false

Name: condor/centralmanager
Template: condor/centralmanager
Value: ${groups.condor_master[0]}

Name: condor/daemons
Template: condor/daemons
{% if inventory_hostname in groups['condor_master'] %}
Value: SCHEDD, COLLECTOR:NEGOTIATOR
{% else %}
Value: STARTD
{% endif %}

Name: condor/uiddomain
Template: condor/uiddomain
Value: ${groups.condor_master[0]}

Name: condor/filesystemdomain
Template: condor/filesystemdomain
Value: ${groups.condor_master[0]}

Name: condor/personal
Template: condor/personal
Value: false

Name: condor/reservedmemory
Template: condor/reservedmemory
Value: 0

Name: condor/allowwrite
Template: condor/allowwrite
Value: ${groups.all}

Name: condor/startpolicy
Template: condor/startpolicy
Value: true
