# bigtop/tasks/main.yml
---


- name: Set JAVA8 on experimental
  set_fact: java_version=8
  when: bigtop_experimental


- name: Check playbook compatibility with host platform
  fail:
    msg="PySpark/Hadoop installation only works on Debian/Ubuntu presently."
  when: not is_debian_compatible


- name: add signing key for Apache Bigtop repository
  apt_key:
    keyserver: keys.gnupg.net
    id: '{{item}}'
  with_items: '{{bigtop_signing_key}}'
  when: is_debian_compatible and not bigtop_experimental


- name: add Apache Bigtop repository
  apt_repository:
    # download from: http://www.apache.org/dist/bigtop/bigtop-1.0.0/repos/trusty/bigtop.list
    repo='deb http://bigtop-repos.s3.amazonaws.com/releases/{{bigtop_release}}/{{ansible_distribution|lower}}/{{ansible_distribution_major_version}}/x86_64 bigtop contrib'
    state=present
  when: is_debian_compatible and not bigtop_experimental

# when we want to use trunk build packages

- name: add signing key for Apache Bigtop experimental repository (Debian/Ubuntu)
  apt_key:
    keyserver: keys.gnupg.net
    id: '{{bigtop_signing_key_trunk}}'
  when: is_debian_compatible and bigtop_experimental


- name: add Apache Bigtop experimental repository (Debian/Ubuntu)
  apt_repository:
    repo='deb {{bigtop_uri}}/debs/{{ansible_distribution_release}} ./'
    state=present
  when: is_debian_compatible and bigtop_experimental


# this is run as task and not as a handler, since handlers are all
# executed after *all* tasks in the play have run, and we need the
# package cache to be up-to-date immediately for subsequent install
# tasks to succeed...
- name: update APT cache
  apt:
    update_cache=yes
    cache_valid_time=86400
  when: is_debian_compatible


- name: add Apache Bigtop experimental repository (CentOS/RHEL)
  yum_repository:
    name: bigtop
    description: UZH Apache Bigtop YUM repository
    baseurl: '{{bigtop_uri}}/rpms/{{ansible_distribution_release}}'
    gpgkey: '{{bigtop_uri}}{{bigtop_pubkey}}'
    gpgcheck: yes
  when: not is_debian_compatible and bigtop_experimental
