[Unit]
Description=Apache Alluxio Worker Service
After=network.target

[Service]
Type=forking
User=alluxio
Group=spark
ExecStart=/usr/lib/alluxio/bin/alluxio-start.sh worker
ExecStop=/usr/lib/alluxio/bin/alluxio-stop.sh worker
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target