[Unit]
Description=Apache Spark Master Service
After=network.target

[Service]
Type=forking
User=ubuntu
Group=spark
ExecStart=/usr/lib/spark/sbin/start-slave.sh {{groups.spark_master|first}}:7077

[Install]
WantedBy=multi-user.target