# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#

# this is needed for hive to see the PostgreSQL JDBC connector
export HIVE_AUX_JARS_PATH=/usr/share/java/
