---
#
# Create a Ceph pool
#

- name: Does pool exist?
  shell: |
    ceph --cluster {{ceph_cluster_name}} osd lspools | fgrep -q ' {{pool_name}},'
  ignore_errors: yes
  register: _check_ceph_pool_exists

- name: Create FS metadata pool
  command: |
    ceph --cluster {{ceph_cluster_name}} osd pool create {{pool_name}} {{pool_pg_num}}
  when: '_check_ceph_pool_exists|failed'
