# THIS FILE IS CONTROLLED BY ANSIBLE
# any local modifications will be overwritten!
#

[Gluster_Repo]
name=GlusterFS repository
baseurl=http://repos.fedorapeople.org/repos/kkeithle/glusterfs/epel-6/$basearch
gpgcheck=0
