<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@1.39">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://gc3pie.googlecode.com/svn/trunk</remote>
        <local>gc3pie.svn</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <assignedNode>gc3pie</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Clean up the build environment
rm -rf gc3pie-env
# create the virtualenv
virtualenv gc3pie-env --python=python2.5
. gc3pie-env/bin/activate
# Install python packages NOT needed by gc3pie but needed to test it
#pip install numpy
# Matplotlib does not support python 2.5
#python -c &apos;import sys; sys.exit(sys.version_info[0:2] &lt; (2, 6)&apos; &amp;&amp; pip install matplotlib
#pip install nose
# Enter the svn directory
cd gc3pie.svn/gc3pie
# install gc3pie
#python setup.py develop
# run tests
#nosetests -c nose.cfg 
pip install virtualenv==1.8.4 tox
tox -e py25 -r
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.4">
      <recipients>antonio.s.messina@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>
