# THIS FILE IS CONTROLLED BY ELASTICLUSTER
# local modifications will be overwritten
# the next time `elasticluster setup` is run!
#


##  What machine is your central manager?

CONDOR_HOST = {{ groups.condor_master[0] }}

## Pool's short description

COLLECTOR_NAME = ElastiCluster HTCondor at {{ groups.condor_master[0] }}

##  When is this machine willing to start a job?

START = TRUE


##  When to suspend a job?

SUSPEND = FALSE


##  When to nicely stop a job?
##  (as opposed to killing it instantaneously)

PREEMPT = FALSE


##  When to instantaneously kill a preempting job
##  (e.g. if a job is in the pre-empting stage for too long)

KILL = FALSE

##  This macro determines what daemons the condor_master will start and keep its watchful eyes on.
##  The list is a comma or space separated list of subsystem names

{% if 'condor_master' in group_names %}
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD, STARTD
{% else %}
DAEMON_LIST = MASTER, SCHEDD, STARTD
{% endif %}

## For a simple personal condor setup there are issues
## with default AUTH.

SEC_CLIENT_AUTHENTICATION_METHODS = CLAIMTOBE
SEC_DEFAULT_AUTHENTICATION_METHODS = CLAIMTOBE

ALLOW_WRITE = $(ALLOW_WRITE), {% for host in groups.condor_worker %} {{ host }}, {% endfor %} $(CONDOR_HOST)
